{% extends "login.html" %}
{% block title %}{% endblock %}
{% block page %}
<div class="subnavbar">
    <div class="container">
        <ul class="mainnav">
            {% block child_menu %}
            
            {% endblock %}
            
        </ul>
    </div>
</div>
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>
</div>
    <div class="extra">

    </div>

<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12">TestTeam  © 2017－ XX </div>
        <!-- /span12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /footer-inner -->
</div>


{% endblock %}>